<h1><%= @equipment.name %></h1>

<p><%= @equipment.description %></p>

<ul>
	<li><%= @equipment.daily_price %></li>
	<li><%= @equipment.weekly_price %></li>
	<li><%= @equipment.monthly_price %></li>
</ul>