<button class="cta">
	Call to reserve &nbsp; 281-804-1602
</button>

<% @equipment.each do |e| %>
	<section class="feature">
		<div class="feature__copy feature__copy--left">
			<div class="feature__heading">
				<h2 class="feature__title feature__title--equipment"><%= e.name %></h2>
			</div>
			<p>
				Specifications:
				<ul>
					<% d = e.description %>
					<% dList =  d.split(",") %>
					<% dList.each do |l| %>
						<li>
							<%= l %>
						</li>
					<% end %>
				</ul>
			</p>
			<span><a href="<%=e.spec_url%>" class="equipment__spec">Read the full spec</a></span>
			<ul class="feature__prices">
				<li>
					Daily Price: 
					<span class="feature__prices__rate">
						<%= e.daily_price %>
					</span>
				</li>
				<li>
					Weekly Price: 
					<span class="feature__prices__rate">
						<%= e.weekly_price %>
					</span>
				</li>
				<li>
					Monthly Price: 
					<span class="feature__prices__rate">
						<%= e.monthly_price %>
					</span>
				</li>
			</ul>
		</div>
		<div class="feature__copy feature__copy--right">
			<div class="equipment__image">
				<% if e.image %>
					<img src="../images/<%= e.image %>">
				<% end %>
			</div>
		</div>
	</section>
<% end %>